@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    height: 100%;
    overflow: hidden;
  }

  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}

@layer utilities {

  /* Safe Area Utilities for Mobile (Notch/Status Bar) */
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }
}